.header-img {
	background-image: url("https://media.istockphoto.com/photos/peanuts-plantation-in-countryside-thailand-near-mountain-picture-id1320570548?b=1&k=20&m=1320570548&s=170667a&w=0&h=8D3Kjd8Oaqhe4w5InKtb1w4qnvAuRumhq-eDEzFHUf0=");
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	border-radius: 12px;
	margin-bottom: 64px;
}
.jumbotron-container {
	margin: auto;
	margin-top: 100px;
	padding: 25px;
	height: 100%;
}

#titleFr{
	color: blue !important;
}